<!DOCTYPE html>
<html lang="{{ site.locale }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title> {{ page.title }} </title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1> {{ site.name }} </h1>
        <h2>DK 기술 블로그</h2>
        <a href="https://kdkrkwhr.github.io" style="padding-left:90px;" class="button"><small>Technology Blog</small>케이웨더</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">

          {{ content }}

        </section>

        <aside id="sidebar">
          <p>KimDongKi, <a href="https://github.com/kdkrkwhr">GitHub Pages</a>.</p>
          <section class="category">
            <strong style="color:#8ecf63;font-size:18px;">CATEGORY</strong>
              <ul style="list-style: none;">
                <li style="padding-bottom: 5px;">
                  <a class="bold" href="#">
                    Interview
                  </a>
                </li>
                  <a class="bold" href="#">
                  </a>
                <li style="padding-bottom: 5px;">
                  <a class="bold" href="#">
                    Tools
                  </a>
                </li>
                  <a class="bold" href="">
                  </a>
                <li style="padding-bottom: 5px;">
                  <a class="bold" href="">
                    DevOps
                  </a>
                </li>
                  <a class="bold" href="#">
                  </a>
                <li style="padding-bottom: 5px;">
                  <a class="bold" href="#">
                    Technology
                  </a>
                </li>
                  <a class="bold" href="#">
                  </a>
                <li style="padding-bottom: 5px;">
                  <a class="bold" href="#">
                    New Technology
                </a>
                </li>
                  <a class="bold" href="#">
                  </a>
                <li style="padding-bottom: 5px;">
                  <a class="bold" href="#">
                    Language
                  </a>
                </li>
                  <a class="bold" href="#">
                  </a>
                <li style="padding-bottom: 5px;">
                  <a class="bold" href="#">
                    Development 
                  </a>
                </li>
                  <a class="bold" href="#">
                  </a>
                <li style="padding-bottom: 5px;">
                  <a class="bold" href="#">
                    Infra
                  </a>
                </li>
                  <a class="bold" href="#">
                  </a>
                <li style="padding-bottom: 5px;">
                  <a class="bold" href="#">
                    Security
                  </a>
                </li>
                  <a class="bold" href="#">
                  </a>
                <li style="padding-bottom: 5px;">
                  <a class="bold" href="#">
                    Conference
                  </a>
                </li>
                  <a class="bold" href="#">
                    Notice
                  </a>
                </li>
            </ul>
          </section>
        <!-- End Menu --> 
        </aside>
      </div>
    </div>
  </body>
</html>
